[Unit]
Description=Read_HAN
After=network.target

[Service]
ExecStart=/home/pi/script/catch_feed.py
WorkingDirectory=/home/pi/script
StandardOutput=inherit
StandardError=inherit
Restart=always
User=pi

[Install]
WantedBy=multi-user.target
